/* General settings */
div.selector,
div.selector span,
div.checker span,
div.radio span,
div.uploader,
div.uploader span.action,
div.button,
div.button span {
  background-image: url("../temp/sprite.png");
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased; }

.selector,
.checker,
.button,
.radio,
.uploader {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle; }

.selector select:focus,
.radio input:focus,
.checker input:focus,
.uploader input:focus {
  outline: 0; }

.selector,
.radio,
.checker,
.uploader,
.button,
.selector *,
.radio *,
.checker *,
.uploader *,
.button * {
  margin: 0;
  padding: 0; }

.highContrastDetect {
  background: url("../images/bg-input.png") repeat-x 0 0;
  width: 0px;
  height: 0px; }

/* Input & Textarea */
input.text,
input.email,
input.search,
input.tel,
input.url,
input.datetime,
input.date,
input.month,
input.week,
input.time,
input.datetime-local,
input.number,
input.color,
input.password,
select.uniform-multiselect,
textarea.uniform {
  padding: 3px;
  background: url("../images/bg-input.png") repeat-x 0 0;
  outline: 0; }

/* Remove default webkit and possible mozilla .search styles */
div.checker input,
input.search,
input.search:active {
  -moz-appearance: none;
  -webkit-appearance: none; }

input.text:focus,
input.email:focus,
input.search:focus,
input.tel:focus,
input.url:focus,
input.datetime:focus,
input.date:focus,
input.month:focus,
input.week:focus,
input.time:focus,
input.datetime-local:focus,
input.number:focus,
input.color:focus,
input.password:focus,
select.uniform-multiselect:focus,
textarea.uniform:focus {
  background: url("../images/bg-input-focus.png") repeat-x 0 0; }

/* Select */
div.selector {
  background-position: 0 -130px;
  line-height: 26px;
  height: 26px;
  padding: 0 0 0 10px;
  position: relative;
  overflow: hidden; }

div.selector.fixedWidth {
  width: 190px; }

div.selector span {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  background-position: right 0;
  height: 26px;
  line-height: 26px;
  padding-right: 25px;
  cursor: pointer;
  width: 100%;
  display: block; }

div.selector.fixedWidth span {
  width: 155px; }

div.selector select {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  border: none;
  background: none;
  position: absolute;
  height: 22px;
  top: 2px;
  left: 0px;
  width: 100%; }

div.selector:active,
div.selector.active {
  background-position: 0 -156px; }

div.selector:active span,
div.selector.active span {
  background-position: right -26px; }

div.selector.focus,
div.selector.hover,
div.selector:hover {
  background-position: 0 -182px; }

div.selector.focus span,
div.selector.hover span,
div.selector:hover span {
  background-position: right -52px; }

div.selector.focus:active,
div.selector.focus.active,
div.selector:hover:active,
div.selector.active:hover {
  background-position: 0 -208px; }

div.selector.focus:active span,
div.selector:hover:active span,
div.selector.active:hover span,
div.selector.focus.active span {
  background-position: right -78px; }

div.selector.disabled,
div.selector.disabled:active,
div.selector.disabled.active {
  background-position: 0 -234px; }

div.selector.disabled span,
div.selector.disabled:active span,
div.selector.disabled.active span {
  background-position: right -104px; }

/* Checkbox */
div.checker,
div.checker span,
div.checker input {
  width: 12px;
  height: 12px; }

div.checker {
  left: -5px;
  position: relative;
  top: -2px; }

div.checker span {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-align: center;
  background-position: -44px -80px; }

div.checker input {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  border: none;
  background: none;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1; }

div.checker:active span,
div.checker.active span {
  background-position: -31px -80px; }

div.checker.focus span,
div.checker:hover span {
  background-position: -44px -80px; }

div.checker.focus:active span,
div.checker:active:hover span,
div.checker.active:hover span,
div.checker.focus.active span {
  background-position: -44px -80px; }

div.checker span.checked {
  background-position: -31px -80px }

div.checker:active span.checked,
div.checker.active span.checked {
  background-position: -31px -80px; }

div.checker.focus span.checked,
div.checker:hover span.checked {
  background-position: -31px -80px; }

div.checker.focus:active span.checked,
div.checker:hover:active span.checked,
div.checker.active:hover span.checked,
div.checker.active.focus span.checked {
  background-position: -31px -80px; }

div.checker.disabled span,
div.checker.disabled:active span,
div.checker.disabled.active span {
  background-position: -44px -80px; }

div.checker.disabled span.checked,
div.checker.disabled:active span.checked,
div.checker.disabled.active span.checked {
  background-position: -31px -80px; }

/* Radio */
div.radio,
div.radio span,
div.radio input {
  width: 18px;
  height: 18px; }

div.radio {
  position: relative; }

div.radio span {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-align: center;
  background-position: 0 -279px; }

div.radio input {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  border: none;
  background: none;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-align: center; }

div.radio:active span,
div.radio.active span {
  background-position: -18px -18px -279px; }

div.radio.focus span,
div.radio:hover span {
  background-position: -36px -36px -279px; }

div.radio.focus:active span,
div.radio:active:hover span,
div.radio.active:hover span,
div.radio.active.focus span {
  background-position: -54px -279px; }

div.radio span.checked {
  background-position: -72px -279px; }

div.radio:active span.checked,
div.radio.active span.checked {
  background-position: -90px -279px; }

div.radio.focus span.checked,
div.radio:hover span.checked {
  background-position: -108px -279px; }

div.radio.focus:active span.checked,
div.radio:hover:active span.checked,
div.radio.focus.active span.checked,
div.radio.active:hover span.checked {
  background-position: -126px -279px; }

div.radio.disabled span,
div.radio.disabled:active span,
div.radio.disabled.active span {
  background-position: -144px -279px; }

div.radio.disabled span.checked,
div.radio.disabled:active span.checked,
div.radio.disabled.active span.checked {
  background-position: -162px -279px; }

/* Uploader */
div.uploader {
  background-position: 0 -297px;
  height: 28px;
  width: 190px;
  cursor: pointer;
  position: relative;
  overflow: hidden; }

div.uploader span.action {
  background-position: right -409px;
  height: 28px;
  line-height: 28px;
  width: 85px;
  text-align: center;
  float: left;
  display: inline;
  overflow: hidden;
  cursor: pointer; }

div.uploader span.filename {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  cursor: default;
  height: 24px;
  margin: 2px 0 2px 2px;
  line-height: 24px;
  width: 82px;
  padding: 0 10px; }

div.uploader input {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  border: none;
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  cursor: default;
  width: 100%;
  height: 100%; }

div.uploader.focus,
div.uploader.hover,
div.uploader:hover {
  background-position: 0 -353px; }

div.uploader.focus span.action,
div.uploader.hover span.action,
div.uploader:hover span.action {
  background-position: right -437px; }

div.uploader.active span.action,
div.uploader:active span.action {
  background-position: right -465px; }

div.uploader.focus.active span.action,
div.uploader:focus.active span.action,
div.uploader.focus:active span.action,
div.uploader:focus:active span.action {
  background-position: right -493px; }

div.uploader.disabled {
  background-position: 0 -325px; }

div.uploader.disabled span.action {
  background-position: right -381px; }

/* Buttons */
div.button a,
div.button button,
div.button input {
  position: absolute;
  display: none; }

div.button {
  background-position: 0 -641px;
  height: 30px;
  cursor: pointer;
  position: relative; }

div.button span {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  line-height: 1;
  text-align: center;
  background-position: right -521px;
  height: 30px;
  margin-left: 13px;
  padding: 0; }

div.button.focus,
div.button:focus,
div.button:hover,
div.button.hover {
  background-position: 0 -701px; }

div.button.focus span,
div.button:focus span,
div.button:hover span,
div.button.hover span {
  background-position: right -581px; }

div.button.active,
div.button:active {
  background-position: 0 -671px; }

div.button.active span,
div.button:active span {
  background-position: right -551px;
  cursor: default; }

div.button.disabled {
  background-position: 0 -731px; }

/* Separate from above due to IE8 */
div.button:disabled {
  background-position: 0 -731px; }

div.button.disabled span {
  background-position: right -611px;
  cursor: default; }

/* Separate from above due to IE8 */
div.button:disabled span {
  background-position: right -611px;
  cursor: default; }
